/* custom styling for CSS */

.clearNavButton {
    width: auto;
    height: 50px;
    padding: 0px;
    background-color: transparent;
    box-shadow: none;
    text-transform: none;
    font-family: "Montserrat", sans-serif; /* Replace 'YourCustomFont' with your desired font */
    font-size: 16px; /* Adjust the font size as needed */
}
